@import "tailwindcss";
@font-face {
  font-family: IranSans;
  src: url("/public/iransansX\ family/IRANSansX-Regular.ttf");
  font-display: block;
}
:root {
  direction: rtl;
  font-family: IranSans;
}
